/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 300px) {
  .column {
    width: 100%;
    display: none;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
/* .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
} */

/* .card-body {
  width: 300px;

  height: 200px;

  box-shadow: 0 6px 32px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card {
  width: 305px;
  margin: 0px;
  height: 140px;
} */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-body:hover {
  box-shadow: 0 6px 32px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s;
}

.p {
  font-size: smaller;
}

li {
  font-size: smaller;
}

li:hover {
  background-color: gray;
}

td {
  text-align: justify;
}
